<div class="container mx-auto py-8 max-w-[760px]">

  <h1>
    Find me
  </h1>

  <h2>
    Wanderson Passos Barcelos
  </h2>


  <p>
    Olá, sou Wanderson Passos Barcelos, um desenvolvedor apaixonado pelo mundo
    da programação desde 2014. Ao longo da minha jornada, concentrei-me
    principalmente no desenvolvimento web, trabalhando com uma variedade de
    tecnologias e frameworks para criar experiências digitais inovadoras e
    eficientes.
  </p>

  <h2>Experiência e Conhecimentos:</h2>
  <p>
    Com uma sólida bagagem em desenvolvimento web, passei por diversos
    frameworks frontend, incluindo Angular, React e Vue, explorando suas nuances
    e aprimorando minhas habilidades ao máximo. Além disso, minha experiência se
    estende ao desenvolvimento mobile, utilizando React Native e Java.
  </p>

  <p>
    Tenho um profundo conhecimento em PHP e sou proficiente em Laravel, um
    framework que considero poderoso para o desenvolvimento de aplicações
    robustas e escaláveis.
  </p>

  <h2>Projetos Recentes:</h2>
  <p>
    Você pode conferir meu trabalho e projetos no meu perfil do GitHub:
    <a href="https://github.com/wpbarcelos" target="_blank">wpbarcelos</a>. Lá,
    compartilho código, colaboro em projetos open source e continuo explorando
    as últimas tendências no mundo do desenvolvimento web e mobile.
  </p>

  <h2>Contato:</h2>
  <p>
    Fique à vontade para entrar em contato comigo se precisar de assistência em
    projetos, tiver alguma pergunta ou quiser apenas trocar ideias. Estou sempre
    aberto a novas oportunidades e colaborações.
  </p>

  <p>
    E-mail: <a href="mailto:wp.barcelos@gmail.com">wp.barcelos&#64;gmail.com</a>
  </p>
</div>
