<div class="container mx-auto py-8 max-w-[760px]">
  <h1>About Page</h1>
  <h2>
    Desenvolvendo um Projeto de Estudo com Angular e Integração de API de
    Notícias na DIO
  </h2>

  <h2>Introdução:</h2>
  <p>
    No vasto universo do desenvolvimento web, a plataforma Digital Innovation
    One (DIO) tem se destacado como uma fonte valiosa de aprendizado. Em um
    esforço para aprimorar habilidades em Angular e integração de APIs,
    embarquei em um emocionante projeto de estudo que combina ambas as
    tecnologias.
  </p>

  <h2>Objetivo do Projeto:</h2>
  <p>
    O principal objetivo deste projeto é explorar e aplicar conceitos
    fundamentais do Angular, um poderoso framework front-end, enquanto
    simultaneamente incorpora a integração de uma API de notícias para
    enriquecer a aplicação com conteúdo dinâmico e relevante.
  </p>
</div>
